## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

## Library

In [11]:
# IMPORTANT to reinstall this ibm_db and ibm_db_sa in these version
# because other version, as much as I know, can't run properly
!pip install --force-reinstall ibm_db==3.1.0 ibm_db_sa==0.3.3
# Ensure we don't load_ext with sqlalchemy>=1.4 (incompadible)
!pip uninstall sqlalchemy==1.4 -y && pip install sqlalchemy==1.3.24
!pip install ipython-sql

Collecting ibm_db==3.1.0
  Using cached ibm_db-3.1.0-py3-none-any.whl
Collecting ibm_db_sa==0.3.3
  Using cached ibm_db_sa-0.3.3-py3-none-any.whl
Collecting sqlalchemy>=0.7.3
  Using cached SQLAlchemy-1.4.41-cp39-cp39-win_amd64.whl (1.6 MB)
Collecting greenlet!=0.4.17
  Using cached greenlet-1.1.3-cp39-cp39-win_amd64.whl (101 kB)
Installing collected packages: greenlet, sqlalchemy, ibm-db-sa, ibm-db
  Attempting uninstall: greenlet
    Found existing installation: greenlet 1.1.3
    Uninstalling greenlet-1.1.3:
      Successfully uninstalled greenlet-1.1.3
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
  Attempting uninstall: ibm-db-sa
    Found existing installation: ibm-db-sa 0.3.3
    Uninstalling ibm-db-sa-0.3.3:
      Successfully uninstalled ibm-db-sa-0.3.3
  Attempting uninstall: ibm-db
    Found existing installation: ibm-db 3.1.0
    Uninstalling ibm-db-3.1.0:
      Successfully uninstalled ibm-db-3.1.0
Successfully installed greenlet-1.1.3 ibm-db-3.1.0 ibm-db-sa-0.3.3 sqlalchemy-1.4.41

WARNING: Ignoring invalid distribution -illow (c:\users\johan\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\johan\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\johan\anaconda3\lib\site-packages)
    WARNING: Ignoring invalid distribution -illow (c:\users\johan\anaconda3\lib\site-packages)
    WARNING: Ignoring invalid distribution -illow (c:\users\johan\anaconda3\lib\site-packages)
    WARNING: Ignoring invalid distribution -illow (c:\users\johan\anaconda3\lib\site-packages)
    WARNING: Ignoring invalid distribution -illow (c:\users\johan\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\johan\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\johan\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\johan\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\johan\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\johan\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\johan\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\johan\anaconda3\lib\site-packages)

Found existing installation: SQLAlchemy 1.4.41
Uninstalling SQLAlchemy-1.4.41:
  Successfully uninstalled SQLAlchemy-1.4.41
Collecting sqlalchemy==1.3.24
  Using cached SQLAlchemy-1.3.24-cp39-cp39-win_amd64.whl (1.2 MB)
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.3.24

WARNING: Ignoring invalid distribution -illow (c:\users\johan\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\johan\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\johan\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\johan\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\johan\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\johan\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\johan\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\johan\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\johan\anaconda3\lib\site-packages)

Requirement already satisfied: ipython-sql in c:\users\johan\anaconda3\lib\site-packages (0.4.1)
Requirement already satisfied: sqlparse in c:\users\johan\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\johan\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\johan\anaconda3\lib\site-packages (from ipython-sql) (1.3.24)
Requirement already satisfied: ipython>=1.0 in c:\users\johan\anaconda3\lib\site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: prettytable<1 in c:\users\johan\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: six in c:\users\johan\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: traitlets>=5 in c:\users\johan\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pickleshare in c:\users\johan\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: matplotlib-inline in c:\users\johan\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: pygments>=2.4.0 in c:\users\johan\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: colorama in c:\users\johan\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\johan\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: backcall in c:\users\johan\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\johan\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (61.2.0)
Requirement already satisfied: stack-data in c:\users\johan\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\johan\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\johan\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\johan\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\johan\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: executing in c:\users\johan\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\johan\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\johan\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)

WARNING: Ignoring invalid distribution -illow (c:\users\johan\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\johan\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\johan\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\johan\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\johan\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\johan\anaconda3\lib\site-packages)

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">Spacex DataSet</a>

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [12]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [13]:
%reload_ext sql

**DB2 magic in case of old UI service credentials.**

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance before. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

In [14]:
import ibm_db_sa

In [15]:
# Enter the connection string for your Db2 on Cloud database instance below
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL
%sql ibm_db_sa://kry26979:e1AgVW9IwuquiVVv@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/bludb?security=SSL

## Explatory Data Analysis

Let's check the dataset first by select all column from Space X Dataset

In [16]:
%%sql
SELECT *
FROM SPACEX
LIMIT 5

 * ibm_db_sa://kry26979:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/bludb
Done.

[(datetime.date(2010, 4, 6), datetime.time(18, 45), 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (datetime.date(2010, 8, 12), datetime.time(15, 43), 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (datetime.date(2012, 8, 10), datetime.time(0, 35), 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 1, 3), datetime.time(15, 10), 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 3, 12), datetime.time(22, 41), 'F9 v1.1', 'CCAFS LC-40', 'SES-8', 3170, 'GTO', 'SES', 'Success', 'No attempt')]

###  1

Display the names of the unique launch sites  in the space mission

In [17]:
%%sql
SELECT DISTINCT(launch_site)
FROM SPACEX

 * ibm_db_sa://kry26979:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/bludb
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',), ('KSC LC-39A',), ('VAFB SLC-4E',)]

###  2

Display 5 records where launch sites begin with the string 'CCA'

In [19]:
%%sql
SELECT *
FROM SPACEX
WHERE launch_site LIKE 'CCA%'
LIMIT 5

 * ibm_db_sa://kry26979:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/bludb
Done.

[(datetime.date(2010, 4, 6), datetime.time(18, 45), 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (datetime.date(2010, 8, 12), datetime.time(15, 43), 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (datetime.date(2012, 8, 10), datetime.time(0, 35), 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 1, 3), datetime.time(15, 10), 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 3, 12), datetime.time(22, 41), 'F9 v1.1', 'CCAFS LC-40', 'SES-8', 3170, 'GTO', 'SES', 'Success', 'No attempt')]

### 3

Display the total payload mass carried by boosters launched by NASA (CRS)

In [26]:
%%sql
SELECT SUM(payload_mass__kg_)
FROM SPACEX
WHERE customer LIKE 'NASA (CRS)'

 * ibm_db_sa://kry26979:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/bludb
Done.

[(22007,)]

###  4

Display average payload mass carried by booster version F9 v1.1

In [27]:
%%sql
SELECT AVG(payload_mass__kg_)
FROM SPACEX
WHERE booster_version LIKE 'F9 v1.1'

 * ibm_db_sa://kry26979:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/bludb
Done.

[(3676,)]

### 5

List the date when the first successful landing outcome in ground pad was acheived.

In [36]:
%%sql
SELECT DATE
FROM SPACEX
WHERE landing__outcome LIKE 'Success'
ORDER BY DATE
LIMIT 1

 * ibm_db_sa://kry26979:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/bludb
Done.

[(datetime.date(2018, 3, 12),)]

### 6

List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [41]:
%%sql
SELECT booster_version, mission_outcome, payload_mass__kg_
FROM SPACEX
WHERE mission_outcome LIKE 'Success' AND
payload_mass__kg_ BETWEEN 4001 AND 6000
ORDER BY payload_mass__kg_

 * ibm_db_sa://kry26979:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/bludb
Done.

[('F9 v1.1 B1014', 'Success', 4159),
 ('F9 B5 B1051.2', 'Success', 4200),
 ('F9 B5B1062.1', 'Success', 4311),
 ('F9 v1.1 B1011', 'Success', 4428),
 ('F9 v1.1', 'Success', 4535),
 ('F9 FT B1022', 'Success', 4696),
 ('F9 B4 B1040.1', 'Success', 4990),
 ('F9 FT  B1031.2', 'Success', 5200),
 ('F9 FT B1020', 'Success', 5271),
 ('F9 FT B1032.1', 'Success', 5300),
 ('F9 B4  B1040.2', 'Success', 5384),
 ('F9 B5 B1046.2', 'Success', 5800)]

###  7

List the total number of successful and failure mission outcomes

In [51]:
%%sql
SELECT COUNT(*)
FROM SPACEX
WHERE mission_outcome LIKE 'Success'

 * ibm_db_sa://kry26979:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/bludb
Done.

[(44,)]

In [54]:
%%sql
SELECT COUNT(*)
FROM SPACEX
WHERE mission_outcome != 'Success'

 * ibm_db_sa://kry26979:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/bludb
Done.

[(1,)]

### 8

List the  names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [56]:
%%sql
SELECT MAX(payload_mass__kg_)
FROM SPACEX

 * ibm_db_sa://kry26979:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/bludb
Done.

[(15600,)]

In [57]:
%%sql
SELECT booster_version, payload_mass__kg_
FROM SPACEX
WHERE payload_mass__kg_ = (SELECT MAX(payload_mass__kg_)
FROM SPACEX)

 * ibm_db_sa://kry26979:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/bludb
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1060.2', 15600),
 ('F9 B5 B1058.3', 15600)]

### 9

List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [67]:
%%sql
SELECT DATE, landing__outcome, booster_version
FROM SPACEX
WHERE landing__outcome = 'Failure (drone ship)' AND
DATE LIKE '2015%'

 * ibm_db_sa://kry26979:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/bludb
Done.

[(datetime.date(2015, 10, 1), 'Failure (drone ship)', 'F9 v1.1 B1012')]

### 10

Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [83]:
%%sql
SELECT DATE, landing__outcome
FROM SPACEX
WHERE DATE BETWEEN '2010-06-04' AND '2017-03-20'
ORDER BY DATE DESC

 * ibm_db_sa://kry26979:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/bludb
Done.

[(datetime.date(2017, 3, 6), 'Success (ground pad)'),
 (datetime.date(2017, 1, 5), 'Success (ground pad)'),
 (datetime.date(2016, 8, 4), 'Success (drone ship)'),
 (datetime.date(2016, 6, 5), 'Success (drone ship)'),
 (datetime.date(2016, 4, 3), 'Failure (drone ship)'),
 (datetime.date(2015, 11, 2), 'Controlled (ocean)'),
 (datetime.date(2015, 10, 1), 'Failure (drone ship)'),
 (datetime.date(2015, 2, 3), 'No attempt'),
 (datetime.date(2014, 7, 9), 'No attempt'),
 (datetime.date(2014, 6, 1), 'No attempt'),
 (datetime.date(2014, 5, 8), 'No attempt'),
 (datetime.date(2013, 3, 12), 'No attempt'),
 (datetime.date(2013, 1, 3), 'No attempt'),
 (datetime.date(2012, 8, 10), 'No attempt'),
 (datetime.date(2010, 8, 12), 'Failure (parachute)')]